## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,2021-11-25 18:49:19,62.46,-114.35,8.42,89,90,18.41,light snow
1,1,Mataura,NZ,2021-11-25 18:50:15,-46.19,168.86,57.33,64,100,7.61,light rain
2,2,Punta Arenas,CL,2021-11-25 18:50:15,-53.15,-70.92,51.91,50,40,36.82,scattered clouds
3,3,Palu,ID,2021-11-25 18:50:16,-0.89,119.87,76.39,94,100,2.82,overcast clouds
4,4,Jamestown,US,2021-11-25 18:47:37,42.10,-79.24,45.99,40,90,9.22,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
21,21,Kavieng,PG,2021-11-25 18:50:23,-2.57,150.80,82.02,71,5,6.80,clear sky
23,23,Hithadhoo,MV,2021-11-25 18:50:23,-0.60,73.08,81.57,70,97,15.52,overcast clouds
37,37,Avarua,CK,2021-11-25 18:50:29,-21.21,-159.78,80.65,83,11,10.36,light rain
48,48,Samarai,PG,2021-11-25 18:50:33,-10.62,150.67,82.63,78,99,11.21,overcast clouds
49,49,Papagaios,BR,2021-11-25 18:50:34,-19.45,-44.75,82.45,51,21,3.29,few clouds
52,52,Acapulco,MX,2021-11-25 18:48:07,16.86,-99.89,85.82,66,20,4.61,few clouds
59,59,Pirapozinho,BR,2021-11-25 18:50:37,-22.28,-51.50,94.48,31,0,5.75,clear sky
68,68,Castro,BR,2021-11-25 18:50:41,-24.79,-50.01,83.03,43,59,8.30,broken clouds
72,72,San Patricio,US,2021-11-25 18:50:43,28.02,-97.52,80.87,70,99,21.43,overcast clouds
73,73,Faanui,PF,2021-11-25 18:50:43,-16.48,-151.75,81.99,76,3,18.63,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
21,21,Kavieng,PG,2021-11-25 18:50:23,-2.57,150.80,82.02,71,5,6.80,clear sky
23,23,Hithadhoo,MV,2021-11-25 18:50:23,-0.60,73.08,81.57,70,97,15.52,overcast clouds
37,37,Avarua,CK,2021-11-25 18:50:29,-21.21,-159.78,80.65,83,11,10.36,light rain
48,48,Samarai,PG,2021-11-25 18:50:33,-10.62,150.67,82.63,78,99,11.21,overcast clouds
49,49,Papagaios,BR,2021-11-25 18:50:34,-19.45,-44.75,82.45,51,21,3.29,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
669,669,Sokolo,ML,2021-11-25 18:54:37,14.73,-6.12,88.43,19,5,9.48,clear sky
673,673,Ixtapa,MX,2021-11-25 18:54:39,20.70,-105.20,90.43,23,15,3.49,few clouds
676,676,Santa Cruz Cabralia,BR,2021-11-25 18:54:39,-16.28,-39.02,80.83,65,20,6.91,few clouds
677,677,May Pen,JM,2021-11-25 18:54:40,17.96,-77.25,81.61,58,84,7.23,broken clouds
680,680,Hobyo,SO,2021-11-25 18:54:41,5.35,48.53,81.66,81,91,15.37,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,Kavieng,PG,82.02,clear sky,-2.57,150.80,
23,Hithadhoo,MV,81.57,overcast clouds,-0.60,73.08,
37,Avarua,CK,80.65,light rain,-21.21,-159.78,
48,Samarai,PG,82.63,overcast clouds,-10.62,150.67,
49,Papagaios,BR,82.45,few clouds,-19.45,-44.75,
52,Acapulco,MX,85.82,few clouds,16.86,-99.89,
59,Pirapozinho,BR,94.48,clear sky,-22.28,-51.50,
68,Castro,BR,83.03,broken clouds,-24.79,-50.01,
72,San Patricio,US,80.87,overcast clouds,28.02,-97.52,
73,Faanui,PF,81.99,clear sky,-16.48,-151.75,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,Kavieng,PG,82.02,clear sky,-2.57,150.80,Nusa Island Retreat
23,Hithadhoo,MV,81.57,overcast clouds,-0.60,73.08,Scoop Guest House
37,Avarua,CK,80.65,light rain,-21.21,-159.78,Paradise Inn
48,Samarai,PG,82.63,overcast clouds,-10.62,150.67,Nuli Sapi
49,Papagaios,BR,82.45,few clouds,-19.45,-44.75,Hotel Mac Palace

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))